<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>
      <b class="font-black text-xl">CallMaster</b>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li class="<%= title == 'Panou de control' ? 'active' : '' %>">
        <a href="/">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Panou de control</span>
        </a>
      </li>
      <li class="<%= title == 'Istoric Apeluri' ? 'active' : '' %>">
        <a href="/istoric-apeluri">
          <span class="icon"><i class="mdi mdi-phone"></i></span>
          <span class="menu-item-label">Istoric Apeluri</span>
        </a>
      </li>
    </ul>
    <p class="menu-label">Configurare</p>
    <ul class="menu-list">
      <li class="<%= parent == 'Extensii' ? 'active' : '' %>">
        <a class="dropdown">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          <span class="menu-item-label">Extensii</span>
          <span class="icon"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul>
          <li class="<%= title == 'Creare Extensie' ? 'active' : '' %>">
            <a href="/extensions/create">
              <span>Creare Extensie</span>
            </a>
          </li>
          <li class="<%= title.includes('Editează Extensie') ? 'active' : '' %>">
            <a href="/extensions/edit">
              <span>Editează Extensie</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="<%= parent == 'Gestionare apeluri' ? 'active' : '' %>">
        <a class="dropdown">
          <span class="icon"><i class="mdi mdi-account-settings"></i></span>
          <span class="menu-item-label">Gestionare apeluri</span>
          <span class="icon"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul>
          <li class="<%= title == 'Adaugă Apel' ? 'active' : '' %>">
            <a href="/queues/create">
              <span>Adaugă Apel</span>
            </a>
          </li>
          <li class="<%= title.includes('Modifică Apel') ? 'active' : '' %>">
            <a href="/queues/edit">
              <span>Modifică Apel</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="<%= parent == 'Setări' ? 'active' : '' %>">
        <a class="dropdown">
          <span class="icon"><i class="mdi mdi-settings"></i></span>
          <span class="menu-item-label">Setări</span>
          <span class="icon"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul>
          <li class="<%= title == 'Setări server SIP' ? 'active' : '' %>">
            <a href="/advanced/sip">
              <span>Setări server SIP</span>
            </a>
          </li>
          <li class="<%= title.includes('Advanced') ? 'active' : '' %>">
            <a href="/advanced/">
              <span>Setări Avansate</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
