<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>

<div id="app">

    <%- include('partials/nav.ejs') %>
    <%- include('partials/aside.ejs') %>

    <section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
        <li><%= parent %></li>
        <li><%= title %></li>
        </ul>
    </div>
    </section>

  <section class="section main-section">
    <div class="card mb-6">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          Creare Extensie Nouă
        </p>
      </header>
      <div class="card-content">
        <form method="post" id="create-extension-form">
          <div class="field">
            <label class="label">Caller ID / Nume <a class="required-field">*</a></label>
            <div class="field-body">
              <div class="field">
                <div class="control icons-left">
                  <input class="input" type="text" placeholder="Nume" name="nume" id="nume" required>
                  <span class="icon left"><i class="mdi mdi-account"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="field-body">
              <div class="field">
                <label class="label">Extensie <a class="required-field">*</a></label>
                <div class="control icons-left">
                  <input class="input" type="text" placeholder="6000" name="extensie" id="extensie" required>
                  <span class="icon left"><i class="mdi mdi-phone"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="field-body">
              <div class="field">
                <label class="label">Parola <a class="required-field">*</a></label>
                <div class="control icons-left">
                  <input class="input" type="password" placeholder="secureP4ssw0rd" name="parola" id="parola" required>
                  <span class="icon left"><i class="mdi mdi-asterisk"></i></span>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="field grouped">
            <div class="control">
              <button type="submit" class="button green">
                Trimite
              </button>
            </div>
            <div class="control">
              <button type="reset" class="button red">
                Resetează
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<%- include('partials/footer.ejs') %>
<script src="/js/create-extension.js"></script>
</body>
</html>
