<!DOCTYPE html>
<html lang="en" class="">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>

  <div id="app">

    <%- include('partials/nav.ejs') %>
      <%- include('partials/aside.ejs') %>

        <section class="is-title-bar">
          <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <ul>
              <li>
                <%= parent %>
              </li>
              <li>
                <%= title %>
              </li>
            </ul>
          </div>
        </section>

        <section class="section main-section">
          <div class="card mb-6">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-speaker"></i></span>
                <a>Add new audio file</a>
              </p>
            </header>
            <div class="card-content">
              <form method="get" id="add-sounds-form">
                <label class="label"><a class="required-field">*</a> Please upload only MP3 files.</label>
                <input type="file" class="sound-pond" name="filepond" />
                <hr>
                <div class="field grouped">
                  <div class="control">
                    <button type="submit" class="button green">
                      Save Sound
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>

        <section class="section main-section" id="sounds-list-section" hidden>
          <div class="card has-table">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Uploaded Sounds
              </p>
              <a href="/ivr/sounds" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
              </a>
            </header>
            <div class="card-content">
              <table id="editSoundsTable">
                <thead>
                  <tr>
                  </tr>
                </thead>
                <tbody id="editSoundsList">
                </tbody>
              </table>
            </div>
          </div>
        </section>
  </div>

  <%- include('partials/footer.ejs') %>

    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
    <script src="/js/ivr-sounds.js"></script>
</body>
</html>